

<p>
  <b>C name:</b>
  
</p>
<ul>
  <% @classroom.bookings.group_by(&:b_date).each do |date, bookings| %>
    <%= date.strftime('%d %m %y') if date %>
    <ul>
      <% bookings.each do |booking| %>
        <li>
          <%= link_to booking.course.title, booking.course %>
        </li>
      <% end %>
    </ul>
  <%end%>
</ul>





<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
