<h2>schedule</h2>


<% @bookings.each do |booking|%>
  <div class="box">
    <h5><%= booking.b_date %></h5>
    
    <p><%= link_to booking.course.title, booking %></p>
    <p><%= booking.classroom.c_name %></p>
    
   
  </div>
  <% end %> 

<div class="button clear rounded">
<%= link_to 'New Booking', new_booking_path %>
</div>
