/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 
 */

body {
  background-color: gray;
  background-image: image-url('ga-background.png');
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  font-family: 'Quattrocento Sans', sans-serif;
  line-height: 1.5;
  margin: 0;

}

.wrapper {
    background-color: rgba(0, 0, 0, 0.30);
}

.container {
  width: 980px;
  margin: 0 auto;
  min-height: 900px;
  padding-top:  10px;
}

.content {
  margin: 20px;
}


h1, 
h2,
h3,
h4,
h5,
.nav,
.button,
.action_button,
.notice,
.actions input,
label {
    font-family: 'Michroma', sans-serif;

}

h2 {
  color:  #2EB8E6;
  text-shadow: 1px 1px #00688B;
} 

h4 {
  background-color: #7FFFD4;
  margin: 10px 0;
  padding: 10px;
}

h5 {
  background-color: #7FFFD4;
  padding: 5px;
}

#top {
  background-color: black;
  padding: 10px 10px 10px 20px;
  /*position: fixed;*/


}

#logo {
     background: image-url('ga-logo.png') no-repeat;
     /*height: 120px;*/
     width: 460px;
     margin: 0;
     text-indent: -100%;
     overflow: hidden;
     white-space: nowrap;
     float:left;
     
     }



.authenticate {
  margin-right: 20px;
}

.authenticate li {
  float: right;

}

.authenticate li a {
  float: right;
  margin-left: 20px;
  color:  #2EB8E6;
}

#greeting {
  color: white;
}

.notice {
  color: yellow;
  text-align: center;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.50);
  margin-top: 10px;
  padding: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  margin: 0 20px;
}

nav ul {
  padding-left: 0;

}

nav li {
  float: left;
  margin-left: 1px;
}



nav a {
  padding: 15px 15px;
  color: black;    
  background-color: rgba(255, 255, 0, 0.80);
}

nav li {
  a:hover {
    color: black;    
    background: #FFFF00;}
  a:active {
    color: black;
    background: #FFFF00;}
  a.selected {
    background: #FFFF00;
    color: black;}
}

form {
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
  border-radius: 3px; /* CSS3 */
}

input {
  width: 200px;
  line-height: 1.5;
  border: none;
  -moz-border-radius: 3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
  border-radius: 3px; /* CSS3 */
  background-color: rgba(255, 255, 255, 0.8);


}

.right {
  float: right;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.rounded {
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    border-radius: 3px; /* CSS3 */
}

.alpha80white {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255); 
    /* RGBa with 0.4 opacity */
    background-color: rgba(255, 255, 255, 0.70);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}



.alpha70grey {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(224, 238, 224); 
    /* RGBa with 0.4 opacity */
    background-color: rgba(0, 0, 0, 0.30);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  }


  div.field {
    margin-bottom: 20px;
    textarea {
      -moz-border-radius: 3px; /* Firefox */
      -webkit-border-radius: 3px; /* Safari, Chrome */
      border-radius: 3px; /* CSS3 */
    }
    label {
      display: block;
      font-size:  14px;
    }

  }

  .actions input {
    max-width: 175px;
    padding: 10px;
    color: white;
    font-size: 12px;
    background-color: #e62f36;
  }


  .box {
    position: relative;
    width: 400px;
    min-height: 400px;
    float: left;
    margin: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px; 


  }

  .box h4 a, 
  .box h5 a, 
  .box p a{
    color: black;
  }

  .clear {
    clear: both;
  }

  .button {
    margin:10px 10px 30px;
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.70);
    display: inline-block;
    a {
      color: white;
    }
  }

  .action_button {
    position: absolute;
    top: 350px;
    left: 320px;
    float: right;
    margin:10px;
    padding: 10px;
    color: white;
    font-size: 12px;
    background-color: #e62f36;

  }

  

